/* Fonts */
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Common styles */
.btn-primary {
    background-color: #4E47FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 16px;
}

body {
    background-color: #f7f8fd;
}

/* Header styles */
header {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
}

nav h3 {
    font-weight: bolder;
    color: #4E47FF;
    font-size: 22px;
    letter-spacing: 1px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
}
header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    margin: 50px 0 38px 0;
    color: #22223B;
    line-height: 1.15;
    max-width: 900px;
}

/* Action styles */
.action {
    display: flex;
    align-items: center;         
    justify-content: center;     
    background: #f7f8fd;
    padding: 60px 0;
    gap: 32px;                   
    max-width: 70%;           
    margin: 0 auto;             
    border-radius: 0; 
    
}
.action-column {
    width: 50%;
    
}
.action-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.action-subtitle {
    color: #8a8e9b;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.4;
}
.action-image img {
    width: 100%;
    max-width: 400px;      
    border-radius: 32px;   
    display: block;
    margin: 0 auto;
    box-shadow: 0 6px 30px rgba(80, 80, 110, 0.10); 
}
.action-btn{
    margin: 0;
}